<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Index page</title>
</head>
<body>
<div>
    <h2><a href="new_add">Add Post</a></h2>
    <br/>
    <table border="1">
        <thead>
        <tr>
            <td>Post id</td>
            <td>Post position</td>
            <td>Post salary</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${getAllPost}">
            <td th:text="${post.position}"position</td>
            <td th:text="${post.salary}"salary</td>

            <td<a th:href="@{'/edit/' + ${post.id}}"Edit</a></td>
            <td<a th:href="@{'/deleete/' + ${post.id}}"Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>