<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Update post</title>
</head>
<body>
<div>
    <h1>Post edit form</h1>
    <br/>
    <form th:object="${post}" th:action="@{/save_post}" method="post">
    <table border="1">
        <tr>
            <td>Post ID</td>
            <td><input type="text" th:field="*{id}" readonly="readonly"/></td>

        </tr>
        <tr>
            <td>Post position</td>
            <td><input type="text" th:field="*{position}"/></td>

        </tr>
        <tr>
            <td>Post salary</td>
            <td><input type="text" th:field="*{salary}"/></td>

        </tr>
        <tr>
            <td><button type="submit">Update</button></td>
        </tr>
    </table>
</div>
</body>
</html>